footer.footer
    .footer__wrap
    
        p.footer__copy
            | Copyright &copy; TOMO KOIZUMI Rights Reserved.

        ul.footer-list
            li.footer-list__item
                a(href="").icon-instagram
            li.footer-list__item
                a(href="").icon-facebook-square
            li.footer-list__item
                a(href="").icon-youtube-square