extends _app

block init
    -var pageTitle = "about | TOMO KOIZUMI"; 
    -var pageDesc = "";
    -var pageName = "about";
    -var pathImg = "/images/about/";

block content

    main(class=pageName)