extends _app

block init
    -var pageTitle = "about | TOMO KOIZUMI"; 
    -var pageDesc = "";
    -var pageName = "about";
    -var pathImg = "/images/about/";

block content

    main(class=pageName)


    section.about-area01
        .about-area01__wrap
            .about-area01_left-block
                .about-area01__image
                    img(src=pathImg+"tomotaka_koizumi.png", alt="")
            .about-area01__right-block
                h2.about-area01__right-block 見出し
                .about-area01__desc text  text text  text  text  text  text  text  text  text  text  text  text  text  text  text  text  text  text  text  text  text  text  text  text  text  text  text  text  text  text  text  text  text
        .about-area02__wrap
            .about-area02_left-block
                h2.about-area02__right-block 見出し
                .about-area02__desc text  text text  text  text  text  text  text  text  text  text  text  text  text  text  text  text  text  text  text  text  text  text  text  text  text  text  text  text  text  text  text  text  text
            .about-area02__right-block
                .about-area02__image
                    img(src=pathImg+"area01_img.jpg", alt="")