extends _app

block init
    -var pageTitle = "collection | TOMO KOIZUMI"; 
    -var pageDesc = "";
    -var pageName = "collection";
    -var pathImg = "/images/collection/";

block content

    main(class=pageName)