extends _app

block init
    -var pageTitle = "collection | TOMO KOIZUMI"; 
    -var pageDesc = "";
    -var pageName = "collection";
    -var pathImg = "/images/collection/";

block content

    main(class=pageName)

        
        .collection-hero(style="background-image: url(images/collection/hero_img.jpg)")

        section.collection-area01
            .collection-area01__wrap
                .collection-area01__left-block
                    h2.collection-area01__heading 2016 Ballet
                    .collection-area01__image
                        img(src=pathImg+"area01_img.jpg", alt="")
                .collection-area01__right-block 見出し
                    .collection-area01__desc text  text text  text  text  text  text  text  text  text  text  text  text  text  text  text  text  text  text  text  text  text  text  text  text  text  text  text  text  text  text  text  text  text
                    