extends _app

block init
    -var pageTitle = "contact | TOMO KOIZUMI"; 
    -var pageDesc = "";
    -var pageName = "contact";
    -var pathImg = "/images/contact/";

block content

    main(class=pageName)