extends _app

block init
    -var pageTitle = "contact | TOMO KOIZUMI"; 
    -var pageDesc = "";
    -var pageName = "contact";
    -var pathImg = "/images/contact/";

block content

    main(class=pageName)

        section.contact-area01
            .contact-area01__wrap
                .contact-area01-form
                    label.ef
                        input(type="text" placeholder="お名前")
                    label.ef
                        input(type="text" placeholder="お名前")

