extends _app

block init
    -var pageTitle = "works | TOMO KOIZUMI"; 
    -var pageDesc = "";
    -var pageName = "works";
    -var pathImg = "/images/works/";

block content

    main(class=pageName)