.flex {
    padding: 0 5%;
    margin-top: 80px;
    display: flex;
}
.l-content {
    width: 40%;
    text-align: center;
}
.l-content img {
    height: 400px;
}
.r-content {
    width: 40%;
    margin-left: 10%;
}